html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'DM sans', sans-serif;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100vw;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.advantages {
  background-color: #fff5f6;
  padding-bottom: 97px;
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 140px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-bottom: 139px;
  }
}

/*.list {
  list-style: none;
}*/
.advantages__primary-title {
  margin: 0;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__list {
    margin: -15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.advantages__item {
  display: block;
  width: 230px;
  height: 156px;
  margin-bottom: 38px;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    width: 180px;
    height: 226px;
    margin: 0;
    margin: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    width: 330px;
    height: 222px;
    padding-right: 50px;
    margin: 15px;
  }
}

.advantages__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .advantages__title {
    font-size: 48px;
    line-height: 1.15;
    margin-top: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__title {
    font-size: 58px;
    line-height: 1.14;
    margin-top: 40px;
  }
}

.advantages__item--milk::before {
  content: '';
  display: block;
  width: 33px;
  height: 50px;
  background-image: url(../images/icon1.png);
}

.advantages__item--fruits::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../images/icon2.png);
}

.advantages__item--heart::before {
  content: '';
  display: block;
  width: 44px;
  height: 50px;
  background-image: url(../images/icon3.png);
}

.advantages__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 170%;
  color: #000000;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .advantages__text {
    font-size: 14px;
    line-height: 174%;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__text {
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;
  }
}

.review-section {
  padding-left: 20px;
  padding-right: 20px;
}

.review-section__box {
  margin-right: auto;
  margin-left: auto;
  max-width: 320px;
}

.review-section__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review-section__image {
  margin-bottom: 29px;
}

.review-section__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  padding: 43px 66px 26px 57px;
  margin-bottom: 30px;
}

.review-section__description p {
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 31px;
  background-image: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 30px, #e1e1e1 30px, transparent 31px);
}

.review-section__name-from {
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
}

.review-section__description::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 50px;
  content: '';
  background-color: #c7133e;
}

.contacts-section {
  padding-top: 86px;
  background-image: linear-gradient(#ffffff 170px, #fff5f6 0);
}

.contacts-section__box {
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.contacts-section__title {
  visibility: hidden;
  max-height: 0;
}

.contacts-section__btn-box {
  padding-left: 35px;
  padding-right: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .contacts-section__btn-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .contacts-section__btn-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 81px;
  }
}

.contacts-section__location-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 162px;
  border: none;
  border-radius: 22px;
  padding-top: 11px;
  padding-bottom: 11px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #ffffff;
  background-color: #d41342;
  -webkit-transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .contacts-section__location-btn {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-section__location-btn {
    margin-right: 15px;
    width: 191px;
  }
}

.contacts-section__location-btn:hover, .contacts-section__location-btn:focus {
  background-color: #c7133e;
}

.contacts-section__franchise-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 162px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #d41443;
  background-color: #ffffff;
  -webkit-transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contacts-section__franchise-btn {
    width: 174px;
  }
}

.contacts-section__franchise-btn:hover, .contacts-section__franchise-btn:focus {
  background-color: #ecebeb;
}

.contacts-section__location-icon {
  margin-left: 14px;
  width: 10px;
  height: 10px;
  fill: #ffffff;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-section__location-btn:hover .contacts-section__location-icon,
.contacts-section__location-btn:focus .contacts-section__location-icon,
.contacts-section__franchise-btn:hover .contacts-section__franchise-icon,
.contacts-section__franchise-btn:focus .contacts-section__franchise-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.contacts-section__franchise-icon {
  margin-left: 14px;
  width: 10px;
  height: 10px;
  fill: #d41443;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-box {
  padding-left: 35px;
  padding-right: 35px;
}

@media screen and (min-width: 768px) {
  .card-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
}

.card-box__card {
  max-width: 220px;
  border-radius: 24px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}

@media screen and (max-width: 767px) {
  .card-box__card:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .card-box__card:last-child {
    margin-bottom: 54px;
  }
}

.card-box__title-section {
  padding-top: 43px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}

.card-box__overhead {
  display: inline-block;
  padding: 2px 30px;
  margin-bottom: 25px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #f0d1a5;
}

@media screen and (min-width: 768px) {
  .card-box__overhead {
    font-size: 16px;
    line-height: 1.87;
    border-radius: 8px;
  }
}

.card-box__overhead--another {
  background-color: #c2e297;
}

.card-box__city {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .card-box__city {
    font-size: 14px;
    line-height: 1.85;
  }
}

.card-box__city-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .card-box__city-text {
    font-size: 14px;
    line-height: 1.64;
  }
}

.card-box__work-section {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}

.card-box__work:first-child {
  margin-bottom: 10px;
}

.card-box__work-day {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .card-box__work-day {
    font-size: 14px;
    line-height: 1.85;
  }
}

.card-box__work-time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .card-box__work-time {
    font-size: 14px;
    line-height: 1.85;
  }
}

.card-box__contacts {
  padding-top: 25px;
  padding-bottom: 43px;
}

.card-box__link {
  text-decoration: none;
  cursor: pointer;
  padding: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #907e82;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .card-box__link {
    font-size: 14px;
    line-height: 1.85;
  }
}

.card-box__link:hover, .card-box__link:focus {
  color: #d41443;
}

.products-section {
  background-color: #E5E5E5;
}

@media screen and (max-width: 767px) {
  .products-section {
    padding-top: 121px;
    padding-bottom: 98px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products-section {
    padding-top: 122px;
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 1200px) {
  .products-section {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.products-section__box {
  margin: auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .products-section__box {
    width: 320px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products-section__box {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .products-section__box {
    width: 1200px;
  }
}

.products-section__overhead {
  font-family: Titan One;
  text-align: center;
  text-transform: uppercase;
  color: #FFA5BA;
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .products-section__overhead {
    font-size: 18px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products-section__overhead {
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1200px) {
  .products-section__overhead {
    font-size: 30px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }
}

.products-section__title {
  font-family: Titan One;
  text-align: center;
  text-transform: uppercase;
  color: #D41443;
}

@media screen and (max-width: 767px) {
  .products-section__title {
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    margin-bottom: 144px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products-section__title {
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .products-section__title {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
    margin-bottom: 259px;
  }
}

.products-section__name {
  font-family: Titan One;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .products-section__name {
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 30px;
    padding-top: 161px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products-section__name {
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 30px;
    margin-top: 152px;
  }
}

@media screen and (min-width: 1200px) {
  .products-section__name {
    font-size: 30px;
    line-height: 1.33;
    margin-bottom: 32px;
    margin-top: 163px;
  }
}

.products-section__description {
  font-family: DM Sans;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .products-section__description {
    font-size: 14px;
    line-height: 1.5;
    margin: 30px 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products-section__description {
    font-size: 14px;
    line-height: 1.78;
    margin-left: 11px;
    margin-right: 11px;
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .products-section__description {
    font-size: 16px;
    line-height: 1.75;
    margin-left: 44px;
    margin-right: 44px;
    margin-top: 32px;
    margin-bottom: 62px;
  }
}

.products-section__card {
  position: relative;
  border-radius: 24px;
}

@media screen and (max-width: 767px) {
  .products-section__card {
    width: 280px;
    height: 485px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products-section__card {
    width: 220px;
    height: 485px;
  }
}

@media screen and (min-width: 1200px) {
  .products-section__card {
    width: 329px;
    height: 525px;
  }
}

@media screen and (max-width: 767px) {
  .products-section__card:not(:last-child) {
    margin-bottom: 130px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products-section__card:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .products-section__card:not(:last-child) {
    margin-right: 30px;
  }
}

.products-section__card-pink {
  background: #FFB8CA;
}

.products-section__card-yellow {
  background: #F0D1A5;
}

.products-section__card-green {
  background: #C2E297;
}

.products-section__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .products-section__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.products-section__image {
  position: absolute;
}

@media screen and (max-width: 767px) {
  .products-section__image {
    bottom: 346px;
    right: 16px;
    width: 249px;
    height: 252px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products-section__image {
    bottom: 363px;
    right: 0px;
    width: 220px;
    height: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .products-section__image {
    bottom: 400px;
    right: 0px;
    width: 335px;
    height: 335px;
  }
}

.galery-section__box {
  margin-right: auto;
  margin-left: auto;
  max-width: 320px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.galery-section__box {
  position: relative;
  height: 122px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #fff5f6), color-stop(40%, #ffffff));
  background-image: linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
}

@media screen and (min-width: 768px) {
  .galery-section__box {
    height: 264px;
  }
}

@media screen and (min-width: 1200px) {
  .galery-section__box {
    height: 430px;
  }
}

.galery-section__image {
  position: absolute;
  border-radius: 5px;
  width: 40px;
}

@media screen and (min-width: 768px) {
  .galery-section__image {
    width: 86px;
  }
}

@media screen and (min-width: 1200px) {
  .galery-section__image {
    width: 140px;
  }
}

@media screen and (min-width: 768px) {
  .galery-section__image {
    border-radius: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .galery-section__image {
    border-radius: 20px;
  }
}

.img1 {
  top: 40px;
  left: 20px;
}

.img2 {
  top: 24px;
  left: 62px;
}

.img3 {
  top: 66px;
  left: 62px;
}

.img4 {
  top: 0;
  left: 104px;
  width: 80px;
}

@media screen and (min-width: 768px) {
  .img4 {
    width: 176px;
  }
}

@media screen and (min-width: 1200px) {
  .img4 {
    width: 284px;
  }
}

.img5 {
  top: 82px;
  left: 104px;
}

.img6 {
  top: 28px;
  left: 186px;
}

.img7 {
  top: 70px;
  left: 186px;
}

.img8 {
  top: 14px;
  left: 228px;
}

.img9 {
  top: 56px;
  left: 228px;
}

.img10 {
  top: 44px;
  left: 270px;
}

.footer-border {
  border-bottom: 1px solid #e1e1e1;
}

.footer {
  background: #fff5f6;
}

@media screen and (max-width: 480px) {
  .footer {
    padding-top: 113px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 480px) {
  .footer {
    padding-top: 158px;
    padding-bottom: 18px;
  }
}

@media screen and (min-width: 1228px) {
  .footer {
    padding-top: 165px;
    padding-bottom: 10px;
  }
}

.footer__box {
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .footer__box {
    width: 480px;
  }
}

@media screen and (min-width: 772px) {
  .footer__box {
    width: 772px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .footer__box {
    width: 1060px;
  }
}

.footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Titan One;
  font-weight: 400;
  color: #ffa5ba;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  width: 232px;
}

@media screen and (min-width: 772px) {
  .footer__title {
    font-size: 26px;
    line-height: 1.15;
    width: 340px;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1280px) {
  .footer__title {
    font-size: 30px;
    line-height: 1.13;
    width: 472px;
  }
}

.footer__title-end {
  margin-top: 17px;
  font-family: Titan One;
  font-weight: 400;
  color: #d41443;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@media screen and (min-width: 772px) {
  .footer__title-end {
    font-size: 48px;
    line-height: 1.14;
    letter-spacing: 0.06em;
    margin-bottom: 91px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__title-end {
    font-size: 57px;
    line-height: 1.13;
    width: 474px;
    margin-top: 15px;
    margin-bottom: 97px;
  }
}

.footer__contacts-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 45px;
}

@media screen and (min-width: 772px) {
  .footer__contacts-box {
    margin: 0;
  }
}

.footer__contacts-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 44px;
}

@media screen and (min-width: 772px) {
  .footer__contacts-items {
    margin-bottom: 46px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__contacts-items {
    margin-bottom: 50px;
  }
}

.footer__icons {
  width: 32px;
  height: 32px;
  fill: #fea5bb;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 772px) {
  .footer__icons {
    width: 34px;
    height: 34px;
  }
}

.footer__icons:hover {
  fill: #d41443;
}

.footer__contacts-link:focus .footer__icons {
  fill: #d41443;
}

.footer__contacts-item:not(:last-child) {
  margin-right: 28px;
}

@media screen and (min-width: 772px) {
  .footer__contacts-item:not(:last-child) {
    margin-right: 36px;
  }
}

.footer__contacts-text {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.8;
  color: #000000;
}

.footer__contacts-tel {
  text-decoration: none;
  color: #d41443;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.8;
  padding-bottom: 43px;
}

@media screen and (min-width: 772px) {
  .footer__contacts-tel {
    font-size: 14px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer__contacts-tel {
    font-size: 16px;
  }
}

.footer__copyright {
  color: #907e82;
  margin-top: 22px;
}

@media screen and (min-width: 772px) {
  .footer__copyright {
    margin-top: 29px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__copyright {
    margin-top: 9px;
  }
}

.footer__copyright-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
}

@media screen and (min-width: 772px) {
  .footer__copyright-text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.backdrop-location {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.backdrop-location.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-location {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 4px;
}

.backdrop-franchise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.backdrop-franchise.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-franchise {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 4px;
}
/*# sourceMappingURL=main.css.map */