$base-header-background: #ffb8ca;
$second-header-background: #ffa5ba;
$title-color-first: #ffa5ba;
$title-color-second: #d41443;
$primary-text-color: #ffffff;
$secondary-text-color: #000000;
$breand-color:#FFB8CA;
$accent-colot: #D41443;
$menu-color:#E17992;
$background-products: #e5e5e5;
$products-card-first: #ffb8ca;
$products-card-second: #f0d1a5;
$products-card-third: #c2e297;
$background-abouts: #fff5f6;
$contacts-card-first: #f0d1a5;
$contacts-card-second: #c2e297;
$contact-shadow-card: 0px 8px 30px rgba(212, 20, 67, 0.1);
$color-footer: #fff5f6;
$footer-contact-text: #000000;
$footer-contact: #d41443;
$footer-copyright: #907e82;
$footer-icons-hover: #d41443;
$footer-icons: #fea5bb;
$color-hover-first: #C7133E;
$color-hover-second:#ECEBEB;
$timer-function: cubic-bezier(0.4, 0, 0.2, 1);

