$base-header-background-color: #ffb8ca;
$second-header-background-color: #ffa5ba;
$title-color-first: #ffa5ba;
$title-color-second: #d41443;
$primary-text-color: #ffffff;
$secondary-text-color: #000000;
$background-products: #e5e5e5;
$first-section-products: #ffb8ca;
$second-section-products: #f0d1a5;
$third-section-products: #c2e297;
$background-about: #fff5f6;
$background-coments: #e5e5e5;
$contacts-card-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
$contacts-label-first: #f0d1a5;
$contacts-label-second: #c2e297;
$color-footer: #fff5f6;
$footer-contact-text: #000000;
$footer-contact: #d41443;
$footer-copyright: #907e82;
$icons-hover: #d41443;
$icons: #fea5bb;
$timer-function: cubic-bezier(0.4, 0, 0.2, 1);
