$base-header-background: #ffb8ca;
$second-header-background: #ffa5ba;
$title-color-first: #ffa5ba;
$title-color-second: #d41443;
$primary-text-color: #ffffff;
$secondary-text-color: #000000;
$breand-color: #ffb8ca;
$accent-colot: #d41443;
$menu-color: #e17992;
$background-products: #ffffff;
$products-card-first: #ffb8ca;
$products-card-second: #f0d1a5;
$products-card-third: #c2e297;
$background-abouts: #fff5f6;
$contacts-card-first: #f0d1a5;
$contacts-card-second: #c2e297;
$contact-shadow-card: 0px 8px 30px rgba(212, 20, 67, 0.1);
$modal-backdrop: rgba(255, 184, 202, 0.3);
$modal-form-border: rgba(33, 33, 33, 0.4);
$modal-close: #fea5bb;
$modal-close-hover: #d41443;
$map-marker: #fea5bb;
$map-marker-hover: #d41443;
$color-footer: #fff5f6;
$footer-contact-text: #000000;
$footer-contact: #d41443;
$footer-copyright: #907e82;
$footer-icons-hover: #d41443;
$footer-icons: #fea5bb;
$color-hover-first: #c7133e;
$color-hover-second: #ecebeb;
$timer-function: cubic-bezier(0.4, 0, 0.2, 1);
$shadow-modal: 0px 4px 4px rgba(0, 0, 0, 0.25);

$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;
