<section id="about-section" class="about-section">
    <div class="about-section__box">
        <div class="about-section__title-box">
            <p class="about-section__overhead">tradition and love</p>
            <h2 class="about-section__title">how it’s made?</h2>
        </div>
        <div class="about-section__information-box" >
            <picture>
                <source srcset="./images/cow-and-milk_516.png 1x, ./images/cow-and-milk_1032.png 2x" media="(min-width: 1280px)" />
                <source srcset="./images/cow-and-milk_340.png 1x, ./images/cow-and-milk_680.png 2x" media="(min-width: 768px)" />
                <img srcset="./images/cow-and-milk_280.png 1x, ./images/cow-and-milk_560.png 2x" src="./images/cow-and-milk_280.png" alt="cow and milk" class="about-section__image">
            </picture>
            <div class="about-section__information">
                <h3 class="about-section__suptitle">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                Maecenas eleifend erat at justo fringilla.</h3>
                <p class="about-section__description">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
                <p class="about-section__description paragraf">Aliquam erat volutpat. Aenean accumsan.</p>
                <button type="button" class="about-section__btn" data-modal-open-about>Read more <svg class="about-section__more-icon">
                    <use href="./images/icons.svg#chevron-right"></use>
                </svg></button>
            </div>
        </div>
    </div>
</section>