<section id="contacts-section" class="contacts-section">
    <div class="contacts-section__box">
        <h2 class="contacts-section__title">contacts section</h2>
        <div class="card-box slider-contacts">
            <article class="card-box__card">
                <div class="card-box__title-section">
                    <p class="card-box__overhead">CAFE</p>
                    <h3 class="card-box__city">Chicago</h3>
                    <p class="card-box__city-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="card-box__work-section">
                    <div class="card-box__work">
                        <h3 class="card-box__work-day">Monday - Friday</h3>
                        <p class="card-box__work-time">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="card-box__work">
                        <h3 class="card-box__work-day">Saturday - Sunday</h3>
                        <p class="card-box__work-time">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <div class="card-box__contacts">
                    <a href="tel:+610383766284" class="card-box__link">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="card-box__link">noreply@envato.com</a>
                </div>
            </article>
            <article class="card-box__card">
                <div class="card-box__title-section">
                    <p class="card-box__overhead card-box__overhead--another">FOODTRUCK</p>
                    <h3 class="card-box__city">Los Angeles</h3>
                    <p class="card-box__city-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="card-box__work-section">
                    <div class="card-box__work">
                        <h3 class="card-box__work-day">Monday - Friday</h3>
                        <p class="card-box__work-time">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="card-box__work">
                        <h3 class="card-box__work-day">Saturday - Sunday</h3>
                        <p class="card-box__work-time">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <div class="card-box__contacts">
                    <a href="tel:+610383766284" class="card-box__link">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="card-box__link">noreply@envato.com</a>
                </div>
            </article>
            <article class="card-box__card">
                <div class="card-box__title-section">
                    <p class="card-box__overhead">CAFE</p>
                    <h3 class="card-box__city">New York</h3>
                    <p class="card-box__city-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="card-box__work-section">
                    <div class="card-box__work">
                        <h3 class="card-box__work-day">Monday - Friday</h3>
                        <p class="card-box__work-time">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="card-box__work">
                        <h3 class="card-box__work-day">Saturday - Sunday</h3>
                        <p class="card-box__work-time">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <div class="card-box__contacts">
                    <a href="tel:+610383766284" class="card-box__link">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="card-box__link">noreply@envato.com</a>
                </div>
            </article>
            <article class="card-box__card">
                <div class="card-box__title-section">
                    <p class="card-box__overhead card-box__overhead--another">FOODTRUCK</p>
                    <h3 class="card-box__city">Miami</h3>
                    <p class="card-box__city-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="card-box__work-section">
                    <div class="card-box__work">
                        <h3 class="card-box__work-day">Monday - Friday</h3>
                        <p class="card-box__work-time">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="card-box__work">
                        <h3 class="card-box__work-day">Saturday - Sunday</h3>
                        <p class="card-box__work-time">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <div class="card-box__contacts">
                    <a href="tel:+610383766284" class="card-box__link">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="card-box__link">noreply@envato.com</a>
                </div>
            </article>
            <article class="card-box__card">
                <div class="card-box__title-section">
                    <p class="card-box__overhead">CAFE</p>
                    <h3 class="card-box__city">Seattle</h3>
                    <p class="card-box__city-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="card-box__work-section">
                    <div class="card-box__work">
                        <h3 class="card-box__work-day">Monday - Friday</h3>
                        <p class="card-box__work-time">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="card-box__work">
                        <h3 class="card-box__work-day">Saturday - Sunday</h3>
                        <p class="card-box__work-time">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <div class="card-box__contacts">
                    <a href="tel:+610383766284" class="card-box__link">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="card-box__link">noreply@envato.com</a>
                </div>
            </article>
        </div>
        <div class="contacts-section__btn-box">
            <button type="button" class="contacts-section__location-btn" data-modal-open-location>Our Locations
                <svg class="contacts-section__location-icon">
                    <use href="./images/icons.svg#chevron-right"></use>
                </svg>
            </button>
            <button type="button" class="contacts-section__franchise-btn" data-modal-open-franchise>Franchise
                <svg class="contacts-section__franchise-icon">
                    <use href="./images/icons.svg#chevron-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>