<section id="gallery" class="galery-section">
    <h2 class="visually-hidden">Galery</h2>
    <div class="galery-section__box">

       <picture>
            <source srcset="./images/galery/1-desktop-150.jpg 1x, ./images/galery/1-desktop-300.jpg 2x" media="(min-width: 1280px)" />
            <source srcset="./images/galery/1-tablet-95.jpg  1x, ./images/galery/1-tablet-190.jpg 2x" media="(min-width: 768px)"/> 
            <img srcset="./images/galery/1-mobile-72.jpg 1x, ./images/galery/1-mobile-144.jpg 2x" src="./images/galery/1-mobile-72.jpg" alt="images" class="galery-section__image img1 scale scale1">
        </picture>

        <picture>
            <source srcset="./images/galery/2-desktop-150.jpg 1x, ./images/galery/2-desktop-300.jpg 2x"
                media="(min-width: 1280px)" />
            <source srcset="./images/galery/2-tablet-95.jpg  1x, ./images/galery/2-tablet-190.jpg 2x"
                media="(min-width: 768px)" />
            <img srcset="./images/galery/2-mobile-72.jpg 1x, ./images/galery/2-mobile-144.jpg 2x"
                src="./images/galery/2-mobile-72.jpg" alt="images" class="galery-section__image img2 scale scale3">
        </picture>

        <picture>
            <source srcset="./images/galery/3-desktop-150.jpg 1x, ./images/galery/3-desktop-300.jpg 2x"
                media="(min-width: 1280px)" />
            <source srcset="./images/galery/3-tablet-95.jpg  1x, ./images/galery/3-tablet-190.jpg 2x"
                media="(min-width: 768px)" />
            <img srcset="./images/galery/3-mobile-72.jpg 1x, ./images/galery/3-mobile-144.jpg 2x"
                src="./images/galery/3-mobile-72.jpg" alt="images" class="galery-section__image img3 scale scale4">
        </picture>

        <picture>
            <source srcset="./images/galery/4-desktop-300.jpg 1x, ./images/galery/4-desktop-600.jpg 2x"
                media="(min-width: 1280px)" />
            <source srcset="./images/galery/4-tablet-190.jpg  1x, ./images/galery/4-tablet-370.jpg 2x"
                media="(min-width: 768px)" />
            <img srcset="./images/galery/4-mobile-136.jpg 1x, ./images/galery/4-mobile-272.jpg 2x"
                src="./images/galery/4-mobile-136.jpg" alt="images" class="galery-section__image img4 scale scale5">
        </picture>

        <picture>
            <source srcset="./images/galery/5-desktop-150.jpg 1x, ./images/galery/5-desktop-300.jpg 2x"
                media="(min-width: 1280px)" />
            <source srcset="./images/galery/5-tablet-95.jpg  1x, ./images/galery/5-tablet-190.jpg 2x"
                media="(min-width: 768px)" />
            <img srcset="./images/galery/5-mobile-72.jpg 1x, ./images/galery/5-mobile-144.jpg 2x"
                src="./images/galery/5-mobile-72.jpg" alt="images" class="galery-section__image img5 scale scale2">
        </picture>
        
        <picture>
            <source srcset="./images/galery/6-desktop-150.jpg 1x, ./images/galery/6-desktop-300.jpg 2x"
                media="(min-width: 1280px)" />
            <source srcset="./images/galery/6-tablet-95.jpg  1x, ./images/galery/6-tablet-190.jpg 2x"
                media="(min-width: 768px)" />
            <img srcset="./images/galery/6-mobile-72.jpg 1x, ./images/galery/6-mobile-144.jpg 2x"
                src="./images/galery/6-mobile-72.jpg" alt="images" class="galery-section__image img6 scale scale6">
        </picture>
        
        <picture>
            <source srcset="./images/galery/7-desktop-150.jpg 1x, ./images/galery/7-desktop-300.jpg 2x"
                media="(min-width: 1280px)" />
            <source srcset="./images/galery/7-tablet-95.jpg  1x, ./images/galery/7-tablet-190.jpg 2x"
                media="(min-width: 768px)" />
            <img srcset="./images/galery/7-mobile-72.jpg 1x, ./images/galery/7-mobile-144.jpg 2x"
                src="./images/galery/7-mobile-72.jpg" alt="images" class="galery-section__image img7 scale scale7">
        </picture>

        <picture>
            <source srcset="./images/galery/8-desktop-150.jpg 1x, ./images/galery/8-desktop-300.jpg 2x"
                media="(min-width: 1280px)" />
            <source srcset="./images/galery/8-tablet-95.jpg  1x, ./images/galery/8-tablet-190.jpg 2x"
                media="(min-width: 768px)" />
            <img srcset="./images/galery/8-mobile-72.jpg 1x, ./images/galery/8-mobile-144.jpg 2x"
                src="./images/galery/8-mobile-72.jpg" alt="images" class="galery-section__image img8 scale scale8">
        </picture>
        
        <picture>
            <source srcset="./images/galery/9-desktop-150.jpg 1x, ./images/galery/9-desktop-300.jpg 2x"
                media="(min-width: 1280px)" />
            <source srcset="./images/galery/9-tablet-95.jpg  1x, ./images/galery/9-tablet-190.jpg 2x"
                media="(min-width: 768px)" />
            <img srcset="./images/galery/9-mobile-72.jpg 1x, ./images/galery/9-mobile-144.jpg 2x"
                src="./images/galery/9-mobile-72.jpg" alt="images" class="galery-section__image img9 scale scale9">
        </picture>
        
        <picture>
            <source srcset="./images/galery/10-desktop-150.jpg 1x, ./images/galery/10-desktop-300.jpg 2x"
                media="(min-width: 1280px)" />
            <source srcset="./images/galery/10-tablet-95.jpg  1x, ./images/galery/10-tablet-190.jpg 2x"
                media="(min-width: 768px)" />
            <img srcset="./images/galery/10-mobile-72.jpg 1x, ./images/galery/10-mobile-144.jpg 2x"
                src="./images/galery/10-mobile-72.jpg" alt="images" class="galery-section__image img10 scale scale2">
        </picture>
        
    </div>
</section>