<section class="galery-section">
    <h2 class="galery-section__title">Galery</h2>
    <div class="galery-section__box">
       <!--<img src="./images/galery.jpg" alt="images" class="galery-section__image">-->
    <img src="./images/galery/1-desktop-150.jpg" alt="images" class="galery-section__image1">
    <img src="./images/galery/2-desktop-150.jpg" alt="images" class="galery-section__image2">
    <img src="./images/galery/3-desktop-150.jpg" alt="images" class="galery-section__image3">
    <img src="./images/galery/4-desktop-300.jpg" alt="images" class="galery-section__image4">
    <img src="./images/galery/5-desktop-150.jpg" alt="images" class="galery-section__image5">
    <img src="./images/galery/6-desktop-150.jpg" alt="images" class="galery-section__image6">
    <img src="./images/galery/7-desktop-150.jpg" alt="images" class="galery-section__image7">
    <img src="./images/galery/8-desktop-150.jpg" alt="images" class="galery-section__image8">
    <img src="./images/galery/9-desktop-150.jpg" alt="images" class="galery-section__image9">
    <img src="./images/galery/10-desktop-150.jpg" alt="images" class="galery-section__image10">
    </div>
</section>