<section class="galery-section">
    <h2 class="visually-hidden">Galery</h2>
    <div class="galery-section__box">
       <!--<img src="./images/galery.jpg" alt="images" class="galery-section__image">-->
    <img src="./images/galery/1-mobile-72.jpg" alt="images" class="galery-section__image img1">
    <img src="./images/galery/2-mobile-72.jpg" alt="images" class="galery-section__image img2">
    <img src="./images/galery/3-mobile-72.jpg" alt="images" class="galery-section__image img3">
    <img src="./images/galery/4-mobile-136.jpg" alt="images" class="galery-section__image img4">
    <img src="./images/galery/5-mobile-72.jpg" alt="images" class="galery-section__image img5">
    <img src="./images/galery/6-mobile-72.jpg" alt="images" class="galery-section__image img6">
    <img src="./images/galery/7-mobile-72.jpg" alt="images" class="galery-section__image img7">
    <img src="./images/galery/8-mobile-72.jpg" alt="images" class="galery-section__image img8">
    <img src="./images/galery/9-mobile-72.jpg" alt="images" class="galery-section__image img9">
    <img src="./images/galery/10-mobile-72.jpg" alt="images" class="galery-section__image img10">
    </div>
</section>