<header class="header container">
    <div class="header__box">
        <nav class="nav-section">
            <div class="nav-section__logo">
                <img src="./images/logo.png" alt="logo" class="nav-section__logo-img" width="199">
            </div>
            <div class="nav-section__site-nav">
                <ul class="site-nav">
                    <li class="site-nav__item"><a href="#">Home</a></li>
                    <li class="site-nav__item"><a href="#">About us</a></li>
                    <li class="site-nav__item"><a href="#">How it’s made?</a></li>
                    <li class="site-nav__item"><a href="#">Our products</a></li>
                    <li class="site-nav__item"><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="nav-section__btn-box">
                <button class="nav-section__btn-modal" type="button">Buy now</button>
            </div>

            <!-- Мобильное меню!!! -->

            <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
                <svg width="30" height="30" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd"
                    d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"></path>
                </svg>
            </button>

            <div class="menu-container js-menu-container" id="mobile-menu">
                <button class="menu-toggle js-close-menu">
                    <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="40" height="40"><path fill-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      clip-rule="evenodd"></path>
                    </svg>
                </button>

                <button class="nav-section__btn-modal" type="button">Buy now
                    <svg class="arrow" aria-hidden="true"style="position:absolute;width:0;height:0;overflow:hidden" xmlns="http://www.w3.org/2000/svg"><defs><symbol id="Vector-1" viewBox="0 0 26 32"><path fill="none" stroke="#d41443" style="stroke:var(--color1, #d41443)"stroke-linejoin="round" stroke-linecap="round" stroke-width="6.4" d="M3.542 3.2 20.368 16 3.542 28.8"/></symbol></defs></svg>
                </button>

                <div class="mobile-menu">
                    <div class="mobile-menu__navigation">
                        <ul class="mobile-nav">
                            <li class="mobile-nav__item"><a href="#">Home</a></li>
                            <li class="mobile-nav__item"><a href="#">About us</a></li>
                            <li class="mobile-nav__item"><a href="#">How it’s made?</a></li>
                            <li class="mobile-nav__item"><a href="#">Our products</a></li>
                            <li class="mobile-nav__item"><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>





        </nav>
        <div class="title-section">
            <div class="title-section__title-box">
                <h1 class="hero-title">ice cream <br> made with <p>passion</p></h1>
                <div class="circle"></div>
                <div class="ice-cream">

                </div>

                <div class="title-section__btn-box">
                    <a href="#" class="title-section__first-link">Products</a>
                    <a href="#" class="title-section__second-link">How it’s made?</a>
                </div>
            </div>
            <div class="title-section__numbers">
                <div class="title-section__number-box">
                    <h2 class="title-section__number-title">16</h2>
                    <p class="title-section__number-description">cafes</p>
                </div>
                <div class="title-section__number-box">
                    <h2 class="title-section__number-title">23</h2>
                    <p class="title-section__number-description">food trucks</p>
                </div>
            </div>
        </div>
        <div class="milk-box">
            <img src="./images/slider-pic5.png" alt="milk" class="milk-box__img" width="188">
            <p class="milk-box__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <a href="#" class="milk-box__btn">></a>
        </div>
        <img src="./images/slider-pic7.png" alt="ice-cream" class="header__hero-image" width="236">
        <img src="./images/slider-pic4.png" alt="ice-cream" class="header__hero-image" width="293">
    </div>
</header>




