<header class="header">
    <div class="header__box">
        <nav class="nav-section">
            <div class="nav-section__logo">
                <img src="./images/logo.png" alt="logo" class="nav-section__logo-img" width="199">
            </div>
            <div class="nav-section__site-nav">
                <ul class="nav-section__menu-items">
                    <li class="nav-section__item"><a href="#">Home</a></li>
                    <li class="nav-section__item"><a href="#">About us</a></li>
                    <li class="nav-section__item"><a href="#">How it’s made?</a></li>
                    <li class="nav-section__item"><a href="#">Our products</a></li>
                    <li class="nav-section__item"><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="nav-section__btn-box">
                <button class="nav-section__btn-modal" type="button">Buy now</button>
            </div>
     <!-- Мобильное меню!!! -->
            <div class="mobile-menu">
                <button class="nav-section__btn-close" type="button">closeX</button>
                <button class="nav-section__btn-modal" type="button">Buy now</button>
                <div class="mobile-menu__navigation">
                    <ul class="mobile-menu__items">
                        <li class="nav-section__item"><a href="#">Home</a></li>
                        <li class="nav-section__item"><a href="#">About us</a></li>
                        <li class="nav-section__item"><a href="#">How it’s made?</a></li>
                        <li class="nav-section__item"><a href="#">Our products</a></li>
                        <li class="nav-section__item"><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="title-section">
            <div class="title-section__title-box">
                <h1 class="title-section__hero-title">ice cream made with <span>passion</span></h1>
                <div class="title-section__btn-box">
                    <a href="#" class="title-section__first-link">Products</a>
                    <a href="#" class="title-section__second-link">How it’s made?</a>
                </div>
            </div>
            <div class="title-section__numbers">
                <div class="title-section__number-box">
                    <h2 class="title-section__number-title">16</h2>
                    <p class="title-section__number-description">cafes</p>
                </div>
                <div class="title-section__number-box">
                    <h2 class="title-section__number-title">23</h2>
                    <p class="title-section__number-description">food trucks</p>
                </div>
            </div>
        </div>
        <div class="milk-box">
            <img src="./images/slider-pic5.png" alt="milk" class="milk-box__img" width="188">
            <p class="milk-box__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <a href="#" class="milk-box__btn">></a>
        </div>
        <img src="./images/slider-pic7.png" alt="ice-cream" class="header__hero-image" width="236">
        <img src="./images/slider-pic4.png" alt="ice-cream" class="header__hero-image" width="293">
    </div>
</header>