<div class="backdrop-location is-hidden" data-modal>
    <div class="modal">
        <div>
            <div class="modal__close-box">
                <button data-modal-close class="modal__close-item">
                    <svg class="modal__close-icon">
                        <use href="./images/icons.svg#cross">
                        </use>
                    </svg>
                </button>
            </div>

            </div>
            <div class="button-box">
                <button class="button-box__btn" type="submit">Отправить</button>
            </div>
        </form>
    </div>
</div>