<div class="backdrop is-hidden" data-modal-green>
    <div class="modal-green">
        <div class="form__img">
            <img src="./images/home-pic3.png" alt="MILKSHAKES" class="form__image">
            <h2 class="form__title">About MILKSHAKES</h2>
        </div>
        <p class="form__products-description">Who knew a chocolate milkshake could be on the menu for people living with Type II Diabetes? Now you can add indulgence back into your day. Each serving is a full, nutritious meal replacement, packed with 10g of protein, high fiber and prebiotics. Simply mix a single scoop with fat free milk to indulge in rich, chocolatey goodness that tastes just like a milkshake. SlimFast Diabetic Weight Loss Formula Shake Mix puts delicious back on the menu!</p>
        <p class="form__products-description">Decadent Chocolate flavor tastes delicious like a milkshake
            With 10g protein, 0g added sugar and high fiber, SlimFast Diabetic Weight Loss is a delicious meal replacement shake that you can drink every day
            SlimFast Shake Mix for Diabetic Weight Loss is a special formula that helps manage carbs and sugar as part of a balanced diet
            Contains 14 servings of SlimFast Diabetic Weight Loss Meal Shake Mix
            Part of the SlimFast Plan - The clinically proven SlimFast Plan offers flexibility and simplicity to make losing weight as easy as 1-2-3</p>
        <p class="form__products-description"><span class="form__products-ingredients">Ingredients:</span> Sunflower Oil, Inulin, Cocoa (Processed with Alkali), Maltodextrin, Gum Arabic, Cellulose Gel, Sodium Caseinate, Milk Protein Concentrate, Soy Fiber, Xanthan Gum, Natural and Artificial Flavor, Salt, Carrageenan, Dextrose, Guar Gum, Acesulfame Potassium, Canola Lecithin, Mono and Diglycerides, Dipotassium Phosphate, Sodium Silicoaluminate, Sucralose. Vitamins and Minerals: Calcium Carbonate, Magnesium Oxide, Calcium Phosphate, Sodium Ascorbate, Vitamin E Acetate, Ferric Orthophosphate, Niacinamide, Chromium Picolinate Zinc Oxide, Calcium Pantothenate, Manganese Sulfate, Pyridoxine Hydrochloride, Thiamin Mononitrate, Vitamin A Palmitate, Riboflavin, Biotin, Copper Gluconate, Folic Acid, Sodium Molybdate, Sodium Selenite, Phytonadione (Vitamin K1), Potassium Iodide, Cholecalciferol (Vitamin D3), and Cyanocobalamin (Vitamin B12).</p>
        <button data-modal-close-green class="button-close">
            <svg class="button-close__icon" width="18" height="18">
                <use href="./images/icons.svg#cross"></use>
            </svg>
        </button>
    
    </div>
</div>