<div class="backdrop-mobile is-hidden" data-modal-mobile>
    <div class="modal-mobile">
        <div>
            <div class="modal-mobile__close-box">
                <button class="modal-mobile__close-item" data-modal-close-mobile>
                    <svg class="modal-mobile__close-icon">
                        <use href="./images/icons.svg#cross">
                        </use>
                    </svg>
                </button>
            </div>
                    <h3 class="title_modal-mobile">Buy Now</h3>
                    
                    <form class="buy-products">
                        <div class="modal-ice-cream-mob">
                            <img src="./images/home-pic1(2).png" alt="ice-cream">
                            <div class="modal-ice-cream__form">
                                <label class="modal-ice-cream-mob__label" for="price11">ice cream</label>
                                <input class="modal-ice-cream-mob__title" type="text" id="price11" placeholder="Price 2$" />
                            </div>
                        </div>
                        <div class="modal-ice-coffee-mob">
                            <img src="./images/home-pic2(2).png" alt="ice-coffee">
                            <div class="modal-ice-coffee-mob__form">
                                <label class="modal-ice-coffee-mob__label" for="price21">ice coffee</label>
                                <input class="modal-ice-coffee-mob__title" type="text" id="price21" placeholder="Price 3$" />
                            </div>
                        </div>
                        <div class="modal-milkshakes-mob">
                            <img src="./images/home-pic3(2).png" alt="milkshakes">
                            <div class="modal-milkshakes-mob__form">
                                <label class="modal-milkshakes-mob__label" for="price31">milkshakes</label>
                                <input class="modal-milkshakes-mob__title" type="text" id="price31" placeholder="Price 2$" />
                            </div>
                        </div>
                        <button class="button_send_mobile" type="submit">Do It</button>
                    </form>

        </div>
    </div>
</div>