<div class="backdrop is-hidden" data-modal-green>
    <div class="modal-green">
        <div class="form__img">
            <img src="./images/home-pic3.png" alt="MILKSHAKES" class="form__image">
            <h2 class="form__title">About MILKSHAKES</h2>
        </div>
        
        <p class="form__products-description">Part of the SlimFast Plan - The clinically proven SlimFast Plan offers flexibility and simplicity to make losing weight as easy as 1-2-3</p>
        <p class="form__products-description"><span class="form__products-ingredients">Ingredients:</span> Cocoa (Processed with Alkali), Maltodextrin, Gum Arabic, Chromium Picolinate Zinc Oxide, Calcium Pantothenate, Thiamin Mononitrate, Vitamin A Palmitate, Riboflavin, Biotin, Copper Gluconate, Folic Acid, Sodium Molybdate, Sodium Selenite, Phytonadione (Vitamin K1), Potassium Iodide, Cholecalciferol (Vitamin D3), and Cyanocobalamin (Vitamin B12).</p>
        <button data-modal-close-green class="button-close">
            <svg class="button-close__icon">
                <use href="./images/icons.svg#cross"></use>
            </svg>
        </button>
    
    </div>
</div>