<div class="backdrop-franchise is-hidden" data-modal-franchise>
    <div class="modal-franchise">
        <div>
            <div class="modal-franchise__close-box">
                <button class="modal-franchise__close-item" data-modal-close-franchise>
                    <svg class="modal-franchise__close-icon">
                        <use href="./images/icons.svg#cross">
                        </use>
                    </svg>
                </button>
            </div>

        </div>
    </div>
</div>