<div class="backdrop-location is-hidden" data-modal-location>
    <div class="modal-location">
        <div>
            <div class="modal-location__close-box">
                <button class="modal-location__close-item" data-modal-close-location>
                    <svg class="modal-location__close-icon">
                        <use href="./images/icons.svg#cross">
                        </use>
                    </svg>
                </button>
            </div>

            </div>
        </form>
    </div>
</div>