<div class="backdrop-about is-hidden" data-modal-about>
    <div class="modal-about">
            <div class="modal-about__close-box">
                <button class="modal-about__close-item" data-modal-close-about>
                    <svg class="modal-about__close-icon">
                        <use href="./images/icons.svg#cross">
                        </use>
                    </svg>
                </button>
            </div>
            <div>
                <h3 class="modal-about__title">how it’s made?</h3>
                <div class="modal-about__box">
                <p class="modal-about__text">Fusce ut velit <span class="modal-about__text-accent">laoreet</span>laoreet, tempus arcu eu, <span class="modal-about__text-accent">molestie</span> tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                Maecenas <span class="modal-about__text-accent">eleifend</span> erat at justo fringilla.Curabitur lacinia enim at ex blandit, vel <span class="modal-about__text-accent">pellentesque</span>odio elementum. Mauris rhoncus orci in imperdiet placerat.
                Vestibulum euismod nisl <span class="modal-about__text-accent">suscipit</span> ligula volutpat, a feugiat urna <span class="modal-about__text-accent">maximus</span>. Cras massa nibh, tincidunt.
                    
                Curabitur lacinia enim at ex blandit, vel pellentesque odio <span class="modal-about__text-accent">elementum</span>. Mauris rhoncus orci in imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula <span class="modal-about__text-accent">volutpat</span>, a feugiat urna maximus. Cras massa nibh, tincidunt.
                </p>
                
                    <picture class="modal-about__picture">
                        <source srcset="./images/ice-cream_171.png  1x, ./images/ice-cream_171@2x.png 2x"
                            media="(min-width: 768px)" />
                        <img srcset="./images/ice-cream_143.png 1x, ./images/ice-cream_143@2x.png 2x"
                            src="./images/ice-cream_143.png" alt="images" class="">
                    </picture>
                    </div>
            </div>
        </div>
</div>