<div class="backdrop is-hidden" data-modal-pink>
    <div class="modal-pink">
        <div class="form__img">
            <img src="./images/home-pic1.png" alt="Ice Cream" class="form__image">
            <h2 class="form__title">About Ice Cream</h2>
        </div>
        <p class="form__products-description">The Original Sundae Cone - Drumstick Vanilla Sundae Cones are overflowing with creaminess, chocolativity and crunchability.  </p>
        <p class="form__products-description"><span class="form__products-ingredients">Ingredients:</span> Dairy Product Solids, Sugar, Skim Milk, Peanuts, Corn Syrup, Bleached Wheat Flour, Coconut Oil, Cream, Maltodextrin, Palm Oil, Cocoa, Palm Olein, Reduced Minerals Whey, Propylene Glycol Monostearate, Soybean Oil, Soy Lecithin, Cellulose Gel, Guar Gum, Monoglycerides, Carob Bean Gum, Salt, Natural Flavor, Cellulose Gum, Milk, Chocolate, Annatto Color. </p>
        <button data-modal-close-pink class="button-close">
            <svg class="button-close__icon">
                <use href="./images/icons.svg#cross"></use>
            </svg>
        </button>
    </div>
</div>

