<div class="backdrop-location is-hidden" data-modal-location>
    <div class="modal-location">
        <div class="modal-location__close-box">
            <button class="modal-location__close-item" data-modal-close-location>
                <svg class="modal-location__close-icon">
                    <use href="./images/icons.svg#cross">
                    </use>
                </svg>
            </button>
        </div>
        <div class="modal-location__content">
            <h2 class="modal-location__title">We are here</h2>
            <div class="modal-location__map">
                <picture>
                    <source srcset="./images/contact-modal/map-280.png 1x, ./images/contact-modal/map-560.png 2x" media="(max-width:479px)"
                    />
                    <source srcset="./images/contact-modal/map-450.png 1x, ./images/contact-modal/map-900.png 2x" media="(max-width:767px)"
                    />
                    <source srcset="./images/contact-modal/map-600.png 1x, ./images/contact-modal/map-1200.png 2x" media="(max-width:1199px)"
                    />
                    <source srcset="./images/contact-modal/map-800.png 1x, ./images/contact-modal/map-1600.png 2x" media="(min-width:1200px)"
                    />
                    <img src="./images/contact-modal/map-280.png" alt="map" class="modal-location__image">
                </picture>
                <a href="https://goo.gl/maps/1u2ZpBBdGoNzPicr8">
                    <svg class="modal-location__chicago">
                        <use href="./images/icons.svg#map-marker"></use>
                    </svg>
                </a>
                <a href="https://goo.gl/maps/fUfWL5enEs2VYkx36">
                    <svg class="modal-location__los-angeles">
                        <use href="./images/icons.svg#map-marker"></use>
                    </svg>
                </a>
                <a href="https://goo.gl/maps/YM9TCKDhivXnYLha6">
                    <svg class="modal-location__new-york">
                        <use href="./images/icons.svg#map-marker"></use>
                    </svg>
                </a>
                <a href="https://goo.gl/maps/uBfeo6YWGwFxg7MRA"
                    class="modal-location__link">
                    <svg class="modal-location__miami">
                        <use href="./images/icons.svg#map-marker"></use>
                    </svg>
                </a>
                <a href="https://goo.gl/maps/KB9ZTkQCaPszvQxh6"
                    class="modal-location__link">
                    <svg class="modal-location__seattle">
                        <use href="./images/icons.svg#map-marker"></use>
                    </svg>
                </a>
            </div>
            <p class="modal-location__subtitle">visit our shops
                <svg class="modal-location__subtitle-icon">
                    <use href="./images/icons.svg#wink"></use>
                </svg>
            </p>
         </div>
        
    </div>
</div>