<div class="backdrop is-hidden" data-modal-yellow>
    <div class="modal-yellow">
        <div class="form__img">
            <img src="./images/home-pic2.png" alt="Ice Coffee" class="form__image">
            <h2 class="form__title">About Ice Coffee</h2>
        </div>
        <p class="form__products-description">Our Medium Roast is crafted with 100% arabica beans to deliver a smooth, balanced flavor. Make it your way and enjoy every sip of the signature Starbucks® taste you love.</p>
        <p class="form__products-description">Inspired by the coffee culture at Starbucks, Brewed to Personalize Iced Coffee is medium-roast Starbucks coffee crafted for home personalization. Drink it black over ice. Add creamer. Add sweetener. </p>
        <p class="form__products-description"><span class="form__products-ingredients">Ingredients:</span>Brewed Starbucks® Coffee (Water, Coffee)</p>
        <button data-modal-close-yellow class="button-close">
            <svg class="button-close__icon">
                <use href="./images/icons.svg#cross"></use>
            </svg>
        </button>
    </div>
</div>