
<section class="container">
    <h2 class="advantages__primary-title">advantages</h2>
    <ul class="advantages__list">
        <li class="advantages__item">
            <div class="advantages__item--milk">
            <h3 class="advantages__title">721</h3>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </div>
        </li>
        <li class="advantages__item">
            <div class="advantages__item--fruits">
            <h3 class="advantages__title">16kg</h3>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </div>
        </li>
        <li class="advantages__item">
            <div class="advantages__item--heart">
            <h3 class="advantages__title">84</h3>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </div>
        </li>
      </ul>
    </section>
<section class="numbers-section">
    <h2 class="numbers-section__title">numbers section</h2>
    <div class="numbers-section__box">
        <div class="numbers-section__card">
            <img src="./images/icon1.png" alt="1" class="numbers-section__icon">  
            <h3 class="numbers-section__number">721</h3>
            <p class="numbers-section__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p> 
        </div>
        <div class="numbers-section__card">
            <img src="./images/icon2.png" alt="2" class="numbers-section__icon"> 
            <h3 class="numbers-section__number">16kg</h3>
            <p class="numbers-section__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
        <div class="numbers-section__card">
            <img src="./images/icon3.png" alt="3" class="numbers-section__icon">
            <h3 class="numbers-section__number">84</h3>
            <p class="numbers-section__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
    </div>
</section>
