<section class="numbers-section">
    <h2 class="numbers-section__title">numbers section</h2>
    <div class="numbers-section__box">
        <div class="numbers-section__card">
            <img src="./images/icon1.png" alt="1" class="numbers-section__icon">  
            <h3 class="numbers-section__number">721</h3>
            <p class="numbers-section__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p> 
        </div>
        <div class="numbers-section__card">
            <img src="./images/icon2.png" alt="2" class="numbers-section__icon"> 
            <h3 class="numbers-section__number">16kg</h3>
            <p class="numbers-section__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
        <div class="numbers-section__card">
            <img src="./images/icon3.png" alt="3" class="numbers-section__icon">
            <h3 class="numbers-section__number">84</h3>
            <p class="numbers-section__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
    </div>
</section>