<section id="products-section" class="products-section">
    <div class="products-section__box">
        <div class="products-section__title-box">
            <p class="products-section__overhead">100% natural</p>
            <h2 class="products-section__title">products</h2>
        </div>
        <div class="products-section__cards">
            <div class="products-section__card products-section__card-pink">
                <h3 class="products-section__name">ICE CREAM</h3>
                <p class="products-section__description">The Sundae Cone - Vanilla Sundae Cones are overflowing with creaminess and crunchability.</p>
                <button data-modal-open-pink class="products-section__btn" type="button"></button>
            </div>
            <div class="products-section__card products-section__card-yellow">
                <h3 class="products-section__name">ICE COFFEE</h3>
                <p class="products-section__description">Enjoy your favorite chilled coffee drink on the go thanks to Starbucks bottled coffee drinks.</p>
                <button data-modal-open-yellow class="products-section__btn" type="button"></button>
            </div>
            <div class="products-section__card products-section__card-green">
                <h3 class="products-section__name">MILKSHAKES</h3>
                <p class="products-section__description">Rich and velvety, this extra thick shake pops with chocolate and finishes silky smooth.</p>
                <button data-modal-open-green class="products-section__btn" type="button"></button>
            </div>
        </div>
    </div>
</section>