<section class="products-section">
    <div class="products-section__box">
        <div class="products-section__title-box">
            <p class="products-section__overhead">100% natural</p>
            <h2 class="products-section__title">products</h2>
        </div>
        <div class="products-section__cards">
            <div class="products-section__card products-section__card-pink">
                <h3 class="products-section__name">ICE CREAM</h3>
                <p class="products-section__description">The Sundae Cone - Vanilla Sundae Cones are overflowing with creaminess and crunchability.</p>
                <button data-modal-open-pink class="products-section__btn" type="button"></button>

                <div class="backdrop is-hidden" data-modal-pink>
                    <div class="modal">
                        <h2 class="form__title">About This Item</h2>
                        <p>The Original Sundae Cone - Drumstick Vanilla Sundae Cones are overflowing with creaminess, chocolativity and crunchability. The crispy sugar cone with creamy vanilla center and rich chocolatey coating with roasted peanuts creates a snacking experience unlike any other dessert – and that’s before you get to the unforgettable chocolatey nugget! No two bites are the same with The Original Sundae Cone. This delicious frozen dessert is made with no artificial flavors or colors* - frozen treats that are perfect for the entire family (*added colors from natural sources). Each sundae cone dessert comes individually wrapped for quick, convenient snacking. Keep Drumstick cones frozen until ready to enjoy. Celebrate with The Original Sundae Cone and get the classic vanilla ice cream flavor you love all in one unique eating experience with Nestle Drumstick!</p>
                        <p><b>Ingredients:</b> Dairy Product Solids, Sugar, Skim Milk, Peanuts, Corn Syrup, Bleached Wheat Flour, Coconut Oil, Cream, Maltodextrin, Palm Oil, Cocoa, Palm Olein, Reduced Minerals Whey, Propylene Glycol Monostearate, Soybean Oil, Soy Lecithin, Cellulose Gel, Guar Gum, Monoglycerides, Carob Bean Gum, Salt, Natural Flavor, Cellulose Gum, Milk, Chocolate, Annatto Color. </p>
                        <button data-modal-close-pink class="button-close">
                            <svg class="button-close__icon" width="18" height="18">
                                <use href="./images/icons.svg#icon-close_40"></use>
                            </svg>
                        </button>
                    
                    </div>
                </div>


            </div>
            <div class="products-section__card products-section__card-yellow">
                <h3 class="products-section__name">ICE COFFEE</h3>
                <p class="products-section__description">Enjoy your favorite chilled coffee drink on the go thanks to Starbucks bottled coffee drinks.</p>
                <button data-modal-open-yellow class="products-section__btn" type="button"></button>

                <div class="backdrop is-hidden" data-modal-yellow>
                    <div class="modal">
                        <h2 class="form__title">About This Item</h2>
                        <p>Our Medium Roast is crafted with 100% arabica beans to deliver a smooth, balanced flavor. Make it your way and enjoy every sip of the signature Starbucks® taste you love.</p>
                        <p>Inspired by the coffee culture at Starbucks, Brewed to Personalize Iced Coffee is medium-roast Starbucks coffee crafted for home personalization. Drink it black over ice. Add creamer. Add sweetener. Have it wherever and however you crave it.</p>
                        <ul>
                            <li>Medium Roast</li>
                            <li>Smooth & balanced</li>
                            <li>Brewed to Personalize</li>
                            <li>Unsweetened Iced Coffee</li>
                            <li>Made with Starbucks 100% Arabica beans</li>
                            <li>Make it your way - add a splash of milk, a little ice, or enjoy it the way it is</li>
                            <li>Kosher - Dairy</li>
                        </ul>
            
                        <p><b>Ingredients:</b>Brewed Starbucks® Coffee (Water, Coffee)</p>
                        <button data-modal-close-yellow class="button-close">
                            <svg class="button-close__icon" width="18" height="18">
                                <use href="./images/icons.svg#icon-close_40"></use>
                            </svg>
                        </button>
                    
                    </div>
                </div>

            </div>
            <div class="products-section__card products-section__card-green">
                <h3 class="products-section__name">MILKSHAKES</h3>
                <p class="products-section__description">Rich and velvety, this extra thick shake pops with chocolate and finishes silky smooth.</p>
                <button data-modal-open-green class="products-section__btn" type="button"></button>

                <div class="backdrop is-hidden" data-modal-green>
                    <div class="modal">
                        <h2 class="form__title">About This Item</h2>
                        <p>Who knew a chocolate milkshake could be on the menu for people living with Type II Diabetes? Now you can add indulgence back into your day. Each serving is a full, nutritious meal replacement, packed with 10g of protein, high fiber and prebiotics. Simply mix a single scoop with fat free milk to indulge in rich, chocolatey goodness that tastes just like a milkshake. SlimFast Diabetic Weight Loss Formula Shake Mix puts delicious back on the menu!</p>
                        <p>Decadent Chocolate flavor tastes delicious like a milkshake
                            With 10g protein, 0g added sugar and high fiber, SlimFast Diabetic Weight Loss is a delicious meal replacement shake that you can drink every day
                            SlimFast Shake Mix for Diabetic Weight Loss is a special formula that helps manage carbs and sugar as part of a balanced diet
                            Contains 14 servings of SlimFast Diabetic Weight Loss Meal Shake Mix
                            Part of the SlimFast Plan - The clinically proven SlimFast Plan offers flexibility and simplicity to make losing weight as easy as 1-2-3</p>
                        <p><b>Ingredients:</b> Sunflower Oil, Inulin, Cocoa (Processed with Alkali), Maltodextrin, Gum Arabic, Cellulose Gel, Sodium Caseinate, Milk Protein Concentrate, Soy Fiber, Xanthan Gum, Natural and Artificial Flavor, Salt, Carrageenan, Dextrose, Guar Gum, Acesulfame Potassium, Canola Lecithin, Mono and Diglycerides, Dipotassium Phosphate, Sodium Silicoaluminate, Sucralose. Vitamins and Minerals: Calcium Carbonate, Magnesium Oxide, Calcium Phosphate, Sodium Ascorbate, Vitamin E Acetate, Ferric Orthophosphate, Niacinamide, Chromium Picolinate Zinc Oxide, Calcium Pantothenate, Manganese Sulfate, Pyridoxine Hydrochloride, Thiamin Mononitrate, Vitamin A Palmitate, Riboflavin, Biotin, Copper Gluconate, Folic Acid, Sodium Molybdate, Sodium Selenite, Phytonadione (Vitamin K1), Potassium Iodide, Cholecalciferol (Vitamin D3), and Cyanocobalamin (Vitamin B12).</p>
                        <button data-modal-close-green class="button-close">
                            <svg class="button-close__icon" width="18" height="18">
                                <use href="./images/icons.svg#icon-close_40"></use>
                            </svg>
                        </button>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    
     
    
</section>