<section class="products-section">
    <div class="products-section__box">
        <div class="products-section__title-box">
            <p class="products-section__overhead">100% natural</p>
            <h2 class="products-section__title">products</h2>
        </div>
        <div class="products-section__cards">
            <div class="products-section__card">
                <img src="./images/home-pic1.png" alt="ice cream" class="products-section__image" width="335">
                <h3 class="products-section__name">ICE CREAM</h3>
                <p class="products-section__description">The Sundae Cone - Vanilla Sundae Cones are overflowing with creaminess and crunchability.</p>
                <a href="" class="products-section__btn">></a>

            </div>
            <div class="products-section__card">
                <img src="./images/home-pic2.png" alt="ice coffee" class="products-section__image" width="335">
                <h3 class="products-section__name">ICE COFFEE</h3>
                <p class="products-section__description">Enjoy your favorite chilled coffee drink on the go thanks to Starbucks bottled coffee drinks.</p>
                <a href="" class="products-section__btn">></a>

            </div>
            <div class="products-section__card">
                <img src="./images/home-pic3.png" alt="milkshakes" class="products-section__image" width="335">
                <h3 class="products-section__name">MILKSHAKES</h3>
                <p class="products-section__description">Rich and velvety, this extra thick shake pops with chocolate and finishes silky smooth.</p>
                <a href="" class="products-section__btn">></a>

            </div>
        </div>
    </div>
</section>