<section class="review-section">
  <h2 class="review-section__title">review section</h2>
  <div class="review-section__box">
    <article class="review-section__card">
      <img src="./images/face2.png" alt="first woman" class="review-section__image" width="85" />
      <div class="review-section__description">
        <p>
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <h3 class="review-section__name-from">Emily, Los Angeles</h3>
    </article>
    <article class="review-section__card">
      <img src="./images/face1.png" alt="second woman" class="review-section__image" width="85" />
      <div class="review-section__description">
        <p>
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <h3 class="review-section__name-from">Emily, Los Angeles</h3>
    </article>
    <article class="review-section__card">
      <img src="./images/face3.png" alt="third woman" class="review-section__image" width="85" />
      <div class="review-section__description">
        <p>
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <h3 class="review-section__name-from">Emily, Los Angeles</h3>
    </article>
  </div>
</section>
