<section id="review-section" class="review-section">
  <h2 class="review-section__title">review section</h2>
  <div class="review-section__box slider">
    <article class="review-section__card">
      <img
        src="./images/team-photo/evgeniy-170.png"
        alt="Evgeniy Grishko"
        class="review-section__image"
        width="85"
      />
      <div class="review-section__description">
        <p class="review-section__description-part">
          It was hard week, but we finish that. This site is proof of our labors. Thanks team for
          work it's done!
        </p>
      </div>
      <h3 class="review-section__name-from">Evgeniy Grishko, Novaja Kakhovka</h3>
    </article>
    <article class="review-section__card">
      <img
        src="./images/team-photo/lena-andreeva-170.png"
        alt="Elena Andrieieva"
        class="review-section__image"
        width="85"
      />
      <div class="review-section__description">
        <p class="review-section__description-part">
          I can say that really we meet many problams but we was sure that this projects will the best because
          only really good team can do good projects. and we aren't good we are the best!
        </p>
      </div>
      <h3 class="review-section__name-from">Elena Andrieieva, Odessa</h3>
    </article>
    <article class="review-section__card">
      <img
        src="./images/team-photo/sergey-170.png"
        alt="Sergey Dyatlov"
        class="review-section__image"
        width="85"
      />
      <div class="review-section__description">
        <p class="review-section__description-part">
          The team work is not only a challenging task for me, but also a very precious experience.
          Now I know it’s features, positive aspects and disadvantages
        </p>
      </div>
      <h3 class="review-section__name-from">Sergey Dyatlov, Odessa</h3>
    </article>
    <article class="review-section__card">
      <img
        src="./images/team-photo/elena-vas-170.png"
        alt="Mikhailova Olena"
        class="review-section__image"
        width="85"
      />
      <div class="review-section__description">
        <p class="review-section__description-part">
          I'm very glad to have chance work in team "GoItshki" ,
          learning and go only up in IT.
        </p>
      </div>
      <h3 class="review-section__name-from">Mikhailova Olena, Odessa</h3>
    </article>
    <article class="review-section__card">
      <img
        src="./images/team-photo/aleksey-170.png"
        alt="Aleksey Misechko"
        class="review-section__image"
        width="85"
      />
      <div class="review-section__description">
        <p class="review-section__description-part">
          I never forget how we work in team and it's was amazing experience. Thanks for that my
          favorite team "GoItshki"
        </p>
      </div>
      <h3 class="review-section__name-from">Aleksey Misechko, Novaya Kakhovka</h3>
    </article>
    <article class="review-section__card">
      <img
        src="./images/team-photo/aleksandr-vasilko-170.png"
        alt="Vasilko Aleksander"
        class="review-section__image"
        width="85"
      />
      <div class="review-section__description">
        <p class="review-section__description-part">
          The path way from the first lines of code to the team project showed how many interesting
          and not always easy tasks wait us in future. I thanks team for well done job.
        </p>
      </div>
      <h3 class="review-section__name-from">Vasilko Aleksander, Odessa</h3>
    </article>
    <article class="review-section__card">
      <img
        src="./images/team-photo/aleksandr-nosov-170.png"
        alt="Aleksander Nosov"
        class="review-section__image"
        width="85"
      />
      <div class="review-section__description">
        <p class="review-section__description-part">
          With every day and new task on the project in the GoItshki team, I am more and more
          convinced of the correctness of my choice. Choosing a life path
        </p>
      </div>
      <h3 class="review-section__name-from">Aleksander Nosov, Nikolaev</h3>
    </article>
  </div>
</section>
