.contacts-section {
  padding-top: 86px;
  background-image: linear-gradient(#ffffff 170px, #fff5f6 0);
  &__box {
    min-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  &__title {
    visibility: hidden;
    max-height: 0;
  }
  &__btn-box {
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__location-btn {
    width: 162px;
    border: none;
    border-radius: 22px;
    margin-bottom: 10px;
    padding-top: 11px;
    padding-bottom: 11px;
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    color: #ffffff;
    background-color: #d41342;
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__location-btn:hover,
  &__location-btn:focus {
    background-color: #c7133e;
  }
  &__franchise-btn {
    width: 162px;
    padding-top: 11px;
    padding-bottom: 11px;
    border: none;
    border-radius: 22px;
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    color: #d41443;
    background-color: #ffffff;
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__franchise-btn:hover,
  &__franchise-btn:focus {
    background-color: #ecebeb;
  }
}
.card-box {
  padding-left: 35px;
  padding-right: 35px;

  &__card {
    max-width: 220px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;

    background-color: #ffffff;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  }
  &__card:not(:last-child) {
    margin-bottom: 20px;
  }
  &__card:last-child {
    margin-bottom: 54px;
  }
  &__title-section {
    padding-top: 43px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e1e1e1;
  }
  &__overhead {
    display: inline-block;
    padding: 2px 30px;
    margin-bottom: 25px;
    border-radius: 4px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;

    color: #ffffff;
    background-color: #f0d1a5;
  }
  &__overhead--another {
    background-color: #c2e297;
  }
  &__city {
    margin-bottom: 25px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;

    color: #000000;
  }
  &__city-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;

    color: #907e82;
  }
  &__work-section {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e1e1e1;
  }
  &__work:first-child {
    margin-bottom: 10px;
  }
  &__work-day {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;

    color: #000000;
  }
  &__work-time {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;

    color: #ffa5ba;
  }
  &__contacts {
    padding-top: 25px;
    padding-bottom: 43px;
  }
  &__link {
    text-decoration: none;
    cursor: pointer;
    padding: 3px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;

    color: #907e82;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    color: #d41443;
  }
}
