.footer-border {
  border-bottom: 1px solid #e1e1e1;
}
.footer {
  @media screen and (max-width: 768px) {
    padding-top: 113px;
    padding-bottom: 25px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 158px;
    padding-bottom: 18px;
  }
  @media screen and (min-width: 1228px) {
    padding-top: 165px;
    padding-bottom: 10px;
  }

  background: $color-footer;

  &__box {
    min-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
      width: 480px;
    }
    @media screen and (min-width: 772px) {
      width: 772px;

      display: flex;
      justify-content: space-between;
    }
    @media screen and (min-width: 1280px) {
      width: 1280px;
    }
  }
  &__title {
    display: flex;
    flex-direction: column;
    font-family: Titan One;
    font-weight: 400;
    color: $title-color-first;
    font-size: 18px;
    line-height: 1.16;
    text-transform: uppercase;
    width: 232px;
    @media screen and (min-width: 772px) {
      font-size: 26px;
      line-height: 1.15;
      width: 340px;
      letter-spacing: 0.04em;
    }
    @media screen and (min-width: 1280px) {
      font-size: 30px;
      line-height: 1.13;
      width: 472px;
    }
  }
  &__title-end {
    margin-top: 17px;
    font-family: Titan One;
    font-weight: 400;
    color: $title-color-second;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    @media screen and (min-width: 772px) {
      font-size: 48px;
      line-height: 1.14;
      letter-spacing: 0.06em;
      margin-bottom: 91px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 57px;
      line-height: 1.13;
      width: 474px;
      margin-top: 15px;
      margin-bottom: 97px;
    }
  }
  &__contacts-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 45px;
    @media screen and (min-width: 772px) {
      margin: 0;
    }
  }
  &__contacts-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 44px;
    @media screen and (min-width: 772px) {
      margin-bottom: 46px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 50px;
    }
  }

  &__icons {
    width: 32px;
    height: 32px;
    fill: $footer-icons;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 772px) {
      width: 34px;
      height: 34px;
    }
  }
  &__icons:hover {
    fill: $footer-icons-hover;
  }
  &__contacts-link:focus .footer__icons {
    fill: $footer-icons-hover;
  }
  &__contacts-item:not(:last-child) {
    margin-right: 28px;
    @media screen and (min-width: 772px) {
      margin-right: 36px;
    }
  }

  &__contacts-text {
    font-weight: bold;
    font-size: 12px;
    line-height: 1.8;
    color: $footer-contact-text;
  }

  &__contacts-tel {
    text-decoration: none;
    color: $footer-contact;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.8;
    padding-bottom: 43px;
    @media screen and (min-width: 772px) {
      font-size: 14px;
      padding-bottom: 0;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }
  &__copyright {
    color: $footer-copyright;
    margin-top: 22px;

    @media screen and (min-width: 772px) {
      margin-top: 29px;
    }
    @media screen and (min-width: 1280px) {
      margin-top: 9px;
    }
  }
  &__copyright-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    @media screen and (min-width: 772px) {
      flex-direction: row;
      justify-content: center;
    }
  }
}
