.galery-section__image {
  border-radius: 10px;
}

.galery-section__box {
  position: relative;
  height: 480px;
}

.galery-section__image1 {
  position: absolute;
  top: 141px;
  left: 134px;
  border-radius: 20px;
  width: 139px;
}

.galery-section__image2 {
  position: absolute;
  top: 86px;
  left: 279px;
  border-radius: 20px;
  width: 139px;
}
.galery-section__image3 {
  position: absolute;
  top: 231px;
  left: 279px;
  border-radius: 20px;
  width: 139px;
}
.galery-section__image4 {
  position: absolute;
  top: 0;
  left: 424px;
  border-radius: 20px;
  width: 285px;
}
.galery-section__image5 {
  position: absolute;
  top: 292px;
  left: 424px;
  border-radius: 20px;
  width: 139px;
}
.galery-section__image6 {
  position: absolute;
  top: 86px;
  left: 715px;
  border-radius: 20px;
  width: 139px;
}
.galery-section__image7 {
  position: absolute;
  top: 231px;
  left: 715px;
  border-radius: 20px;
  width: 139px;
}
.galery-section__image8 {
  position: absolute;
  top: 52px;
  left: 860px;
  border-radius: 20px;
  width: 139px;
}
.galery-section__image9 {
  position: absolute;
  top: 197px;
  left: 860px;
  border-radius: 20px;
  width: 139px;
}
.galery-section__image10 {
  position: absolute;
  top: 152px;
  left: 1004px;
  border-radius: 20px;
  width: 139px;
}
