.header {
  background-color: $breand-color;
  height: 502px;
  overflow: hidden;
  @media screen and (min-width: $tablet) {
    height: 399px;
  }
  @media screen and (min-width: $desktop) {
    height: 665px;
  }
  &__box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width: 480px) {
      width: 480px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
    }
    @media screen and (min-width: 1280px) {
      width: 1280px;
    }
  }
}

// .nav-section {
//   //position: relative;
//   display: flex;
//   align-items: center;
// }

.circle {
  height: 345px;
  width: 345px;
  background-color: #ffa5ba;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 18%;
  //left: 11.25%;
  right: -57px;
  animation-name: changeBgColor;
  animation-duration: 4000ms;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 1s;

  //transform: translate(11.25%, 16.53%);
  @media screen and (min-width: $tablet) {
    height: 324px;
    width: 324px;
    top: 7.77%;
    left: 39.97%;
    //transform: translate(307px, -60px);
  }
  @media screen and (min-width: $desktop) {
    height: 538px;
    width: 538px;
    top: 7.82%;
    left: 37.11%;
    //transform: translate(307px, -31px);
  }
}
.circle:hover {
  animation-play-state: paused;
}

@keyframes changeBgColor {
  20% {
    background-color: #d414446c;
  }

  50% {
    background-color: #ffb8ca;
  }

  100% {
    background-color: #ffa5ba;
  }
}

// .circle {
//   display: none;
//   height: 345px;
//   width: 345px;
//   background-color: #ffa5ba;
//   border-radius: 50%;
//   position: absolute;
//   z-index: 2;
//   top: 83px;
//   transform: translateX(36px);
// }

.menu-toggle {
  display: flex;
  align-items: center;
  &__icon {
    width: 25px;
    height: 25px;
    fill: #d41443;
    transition: transform 250ms $timer-function;
  }
  &__icon:hover {
    transform: rotate(180deg);
  }
}

.header--mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
  @media screen and(min-width: $tablet) {
    padding-top: 37px;
  }
  .nav-section {
    @media screen and(min-width: $tablet) {
      padding-top: 37px;
    }
    @media screen and(min-width: 1280px) {
      width: 1280px;
      padding-top: 37px;
    }
    display: block;
    position: fixed;
    &__btn-modal {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 162px;
      padding-top: 11px;
      padding-bottom: 11px;
      border: none;
      border-radius: 22px;
      cursor: pointer;

      font-weight: 700;
      font-size: 16px;
      line-height: 1.31;

      color: #d41443;
      background-color: #ffffff;
      transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
      @media screen and (min-width: 768px) {
        width: 174px;
      }
    }
    &__btn-modal:hover,
    &__btn-modal:focus {
      background-color: #ecebeb;
    }

    &__btn-modal:hover .nav-section__icon,
    &__btn-modal:focus .nav-section__icon {
      transform: rotate(180deg);
    }
    &__icon {
      margin-left: 14px;
      width: 10px;
      height: 10px;
      fill: #d41443;
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .nav-section__btn-modal {
    display: none;
    @media screen and (min-width: $tablet) {
      display: block;
      margin-left: 30px;
    }
    @media screen and (min-width: $desktop) {
      margin: 0px;
      margin-right: 69px;
    }
  }
}

.section-button {
  display: flex;
  align-items: center;
  .nav-section__btn-modal {
    width: 160px;
    z-index: 2;
  }
}

.nav-section__btn-box {
  .nav-section__btn-modal {
    display: none;
    @media screen and (min-width: $tablet) {
      display: block;
    }
  }
}

.nav-section__logo {
  margin: 0px;
  padding-top: 6px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: rotateY(0deg);

  animation: rotateY 1500ms infinite alternate ease-in-out 1000ms;
  animation-iteration-count: 2;
}
@keyframes rotateY {
  0% {
    transform: perspective(400px) rotateY(0deg);
  }

  100% {
    transform: perspective(400px) rotateY(60deg);
  }
}

.nav-section__site-nav {
  display: none;
  @media screen and(min-width: $desktop) {
    display: block;
    z-index: 2;
  }
}

.site-nav {
  display: flex;
  &__item {
    margin-left: 35px;
  }
  &__link {
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
    color: #fff;
    transition: color 250ms $timer-function;
  }
  &__link:hover,
  &__link:focus {
    color: #d41443;
  }
}

.site-nav .title-section__title-box {
  position: absolute;
  z-index: 20;
  top: 193px;
  left: 20px;
  @media screen and(min-width: $tablet) {
    top: 102px;
    left: 37px;
  }
  @media screen and (min-width: $desktop) {
    top: 171px;
    left: 115px;
  }
}
.title-section {
  &__title-box {
    @media screen and (max-width: 767px) {
      position: relative;
      z-index: 3;
      padding-top: 137px;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      padding-top: 15px;
    }
  }
}
.hero-title {
  font-family: Titan One;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.145;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  @media screen and(min-width: $tablet) {
    font-size: 22px;
  }
  @media screen and(min-width: $desktop) {
    font-size: 38px;
    padding-top: 84px;
  }
  & span {
    font-size: 48px;
    color: $accent-colot;
    @media screen and(min-width: $tablet) {
      font-size: 34px;
    }
    @media screen and(min-width: $desktop) {
      font-size: 58px;
    }
  }
}

.title-section__btn-box {
  font-family: DM Sans, sans-serif;
  font-size: 8px;
  letter-spacing: 0.04em;
  margin-top: 19px;
  display: flex;
  @media screen and (min-width: $tablet) {
    margin-top: 20px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 25px;
  }
}
.title-section {
  &__first-link {
    width: 62px;
    height: 24px;
    border: transparent;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d41443;
    color: #fff;
    transition: background-color 250ms $timer-function;
  }
  &__second-link {
    margin-left: 8px;
    width: 82px;
    height: 24px;
    border: transparent;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #d41443;
    transition: background-color 250ms $timer-function;
  }
  &__first-link:hover,
  &__first-link:focus {
    background-color: #c7133e;
  }
  &__second-link:hover,
  &__second-link:focus {
    background-color: #ecebeb;
  }
}

// .title-section__numbers {
//   display: none;
//   .title-section__number-box {
//     text-align: end;
//     z-index: 20;
//     & + .title-section__number-box {
//       margin-top: 14px;
//     }
//     .title-section__number-title {
//       font-family: Titan One;
//       color: $accent-colot;
//       font-weight: 400;
//       font-size: 28px;
//       @media screen and (min-width: $desktop) {
//         font-size: 46px;
//       }
//     }
//     .title-section__number-description {
//       font-family: DM Sans, sans-serif;
//       font-weight: 400;
//       font-size: 8px;
//       line-height: 1.3;
//       color: #fff;
//       @media screen and (min-width: $desktop) {
//         font-size: 14px;
//       }
//     }
//   }
//   @media screen and (min-width: $tablet) {
//     display: inline-flex;
//     align-items: center;
//   }
//   @media screen and (min-width: $desktop) {
//     right: 97px;
//     top: 156px;
//   }
// }
.title-section {
  &__title-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media screen and (min-width: 1280px) {
      align-items: center;
      padding-left: 115px;
      padding-right: 97px;
    }
  }
  &__circle {
    position: absolute;
    background-color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: 6px;
    @media screen and (min-width: 1280px) {
      width: 30px;
      height: 30px;
      right: 97px;
    }
  }
  &__numbers {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &__number-title {
    position: relative;
    font-family: Titan One;
    font-weight: normal;
    font-size: 28px;
    line-height: 1.14;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    animation: animate125 3000ms infinite 1000ms;
    animation-iteration-count: 1;
    @keyframes animate125 {
      0% {
        transform: scale(1);
      }

      50% {
        transform: scale(1.25);
      }

      100% {
        transform: scale(1);
      }
    }

    @media screen and (min-width: 1280px) {
      font-size: 46px;
      line-height: 1.15;
    }
  }
  &__number-box:first-child {
    margin-bottom: 13px;
  }
  &__number-description {
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: #ffffff;
    @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 1.15;
    }
  }
}
.title-section--circle {
  position: absolute;
  background-color: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: -10%;
  z-index: -1;
  @media screen and (min-width: $desktop) {
    width: 30px;
    height: 30px;
    right: -25%;
  }
}
.circle {
  height: 344px;
  width: 344px;
  background-color: #ffa5ba;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 22%;
  //left: 11.25%;
  right: -57px;
  //transform: translate(11.25%, 16.53%);
  @media screen and (min-width: $tablet) {
    height: 322px;
    width: 324px;
    top: 7.77%;
    left: 307px;
    //transform: translate(307px, -60px);
  }
  @media screen and (min-width: 1280px) {
    height: 538px;
    width: 538px;
    top: 53px;
    left: 475px;
    //transform: translate(307px, -31px);
  }
}
.hero-img--mobile {
  position: absolute;
  bottom: -153px;
  right: 32px;
  //left: 36.56%;
  // transform: translateX(-60%);
  z-index: 2;
  @media screen and(min-width:$tablet) {
    top: 62px;
    left: 378px;
  }
  @media screen and (min-width: 1280px) {
    top: 107px;
    left: 594px;
  }
}
// .hero-img--desktop {
//   display: none;
//   position: absolute;
//   top: 15.79%;
//   left: 46.41%;
//   z-index: 2;
//   //transform: translateX(-60%);
//   @media screen and (min-width: 1280px) {
//     display: block;
//     //transform: translate(-50%, 6%);
//   }
// }

.galochka--tablet {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
    position: absolute;
    bottom: -159px;
    right: 34px;
    z-index: 2;
  }
  @media screen and (min-width: 1280px) {
    display: block;
    position: absolute;
    top: 432px;
    right: 109px;
    z-index: 2;
  }
}

.milk-box {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 250px;
    z-index: 2;
  }
  @media screen and (min-width: $desktop) {
    top: 420px;
    left: 77px;
  }
}
// .milk-box__img--desktop {
//   display: none;
//   @media screen and(min-width: $desktop) {
//     display: block;
//   }
// }

.milk-box--wrrap {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $desktop) {
    margin-left: 30px;
    padding-bottom: 22px;
  }
}

.milk-box__description {
  display: flex;
  flex-wrap: wrap;
  font-family: DM Sans, sans-serif;
  font-size: 8px;
  line-height: 12px;
  color: #fff;
  width: 114px;
  font-weight: 400;
  @media screen and (min-width: $desktop) {
    font-size: 14px;
    width: 200px;
    line-height: 1.4;
  }
}

.milk-box {
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    transition: background-color 250ms $timer-function;
    margin-top: 7px;
    @media screen and (min-width: 1280px) {
      width: 26px;
      height: 26px;
      margin-top: 20px;
    }
  }
  &__icon {
    width: 10px;
    height: 10px;
    fill: #d41443;
    transition: transform 250ms $timer-function;
    @media screen and (min-width: 1280px) {
      width: 12px;
      height: 12px;
    }
  }
  &__btn:hover,
  &__btn:focus {
    background-color: #ecebeb;
  }
  &__btn:hover .milk-box__icon {
    transform: rotate(90deg);
  }
}

.nav-section__site-nav {
  @media screen and(max-width: $tablet) {
    display: none;
  }
}
