
.header{
    background-color: $breand-color;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 100vw;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    //display: flex;
    @media screen and(min-width: $tablet) {
        padding-left: 34px;
        padding-right: 34px;
    }
    @media screen and (min-width: $desktop) {
        min-width: $desktop;
    }
}

.nav-section{
    //position: relative;
    display: flex;
    align-items: center;
}

.circle {
    height: 345px;
    width: 345px;
    background-color: #FFA5BA;
    border-radius: 50%;
    //position: absolute; <<<< не трогать
    z-index: 1;
    transform: translate(36px, 83px);
    @media screen and (min-width: $tablet) {
        height: 324px;
        width: 324px;
        transform: translate(307px, -60px);
    }
    @media screen and (min-width: $desktop) {
        height: 538px;
        width: 538px;
        transform: translate(307px, -31px);
    }
}

.header--mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
    margin-top: 6px;
    @media screen and(min-width: $tablet) {
        padding-top: 37px;
    }

    .nav-section__btn-modal{
        display: none;
        @media screen and (min-width: $tablet) {
            display: block;
            margin-left: 30px;
        }
        @media screen and (min-width: $desktop) {
            margin: 0px;
        }
    }

}

.nav-section__logo{
    margin: 0px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-button{
    display: flex;
    align-items: center;
    .nav-section__btn-modal{
        width: 160px;
    }
}

.nav-section__site-nav{
    display: none;
    @media screen and(min-width: $desktop) {
        display: block;
        z-index: 2;
    }
}

.site-nav{
    display: flex;
}

.site-nav__item{
    &:hover .site-nav__link,
    &:focus .site-nav__link{
        color: $accent-colot;
    }
& + .site-nav__item{
    margin-left: 35px;
}
}

.site-nav__link{
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
    color: #fff;
}

.title-section__title-box{
    position: absolute;
    z-index: 20;
    top: 110px;
}

.hero-title{
    font-family: Titan One;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.145;
    color: #fff;
    @media screen and(min-width: $tablet) {
        font-size: 22px;
    }
    @media screen and(min-width: $desktop) {
        font-size: 38px;
    }
    & p {
        font-size: 48px;
        color: $accent-colot;
        @media screen and(min-width: $tablet) {
            font-size: 34px;
        }
        @media screen and(min-width: $desktop) {
            font-size: 58px;
        }
    }
}

.title-section__btn-box{
    font-family: DM Sans, sans-serif;
    font-size: 8px;
    letter-spacing: 0.04em;
    margin-top: 19px;
    display: flex;
    @media screen and (min-width: $tablet) {
        margin-top: 20px;
    }
    .title-section__first-link{
        width: 61px;
        height: 24px;
        border: transparent;
        border-radius: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $accent-colot;
        color: #fff;
    }
    .title-section__second-link{
        margin-left: 8px;
        width: 82px;
        height: 24px;
        border: transparent;
        border-radius: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        color: $accent-colot;
    }
}

.title-section__first-link:hover{
    background-color:#C7133E;
}

.title-section__second-link:hover{
    background-color: #ECEBEB;
}

.title-section__numbers{
    display: none;
    .title-section__number-box{
        text-align: end;
        z-index: 20;
        & + .title-section__number-box{
            margin-top: 14px;
        }
        .title-section__number-title{
            font-family: Titan One;
            color: $accent-colot;
            font-weight: 400;
            font-size: 28px;
        }
        .title-section__number-description{
            font-family: DM Sans, sans-serif;
            font-weight: 400;
            font-size: 8px;
            line-height: 1.3;
            color: #fff;
        }
    }
    @media screen and (min-width: $tablet) {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 94px;
        right: 34px;
        z-index: 20;
    }
}

.title-section--circle{
    position: absolute;
    background-color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: -10%;
    z-index: -1;
}

.hero-img--mobile {
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.hero-img--desktop {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
    @media screen and (min-width: $desktop) {
        display: block;
        transform: translate(-50%, 6%);
    }
}



.hero-img--tablet{
    display: none;
    @media screen and(min-width:$tablet) and (max-width: $desktop) {
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-60%);
    }
}

.galochka--tablet{
    display: none;
    @media screen and(min-width: $tablet) and (max-width: $desktop){
        display: block;
        position: absolute;
        bottom: 0%;
        right: 34px;
    }
}

.galochka--desktop {
    display: none;
    @media screen and (min-width: $desktop) {
        display: block;
        position: absolute;
        bottom: 0%;
        right: 109px;
    }
}

.milk-box{
    display: none;
    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 28px;
        left: 34px;
    }
}

.milk-box__img{
    display: block;
}

.milk-box--wrrap{
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $desktop) {
        margin-left: 30px;
    }
}

.milk-box__description{
    display: flex;
    flex-wrap: wrap;
    font-family: DM Sans, sans-serif;
    font-size: 8px;
    line-height: 1.5;
    color: #fff;
    width: 114px;
    margin-bottom: 7px;
}

.milk-box__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
}
.header {
  background-color: $breand-color;
}

.nav-section__logo {
  margin: 0px;
  padding-top: 6px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and(min-width: $tablet) {
    padding-top: 37px;
  }
}

.nav-section {
  position: relative;
}

.nav-section__btn-box {
  .nav-section__btn-modal {
    display: none;
    @media screen and (min-width: $tablet) {
      display: block;
    }
  }
}

.nav-section__site-nav {
  @media screen and(max-width: $tablet) {
    display: none;
  }
}

.hero-title {
  position: absolute;
  z-index: 30;
  top: 193px;
  font-family: Titan One;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.145;
  color: #fff;
  & p {
    font-size: 48px;
    color: $accent-colot;
  }
}

.circle {
  display: none;
  height: 345px;
  width: 345px;
  background-color: #ffa5ba;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 83px;
  transform: translateX(36px);
}

