.modal-green {
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  overflow: auto;
  color: $title-color-second;
  z-index: 200;
  background-color: $products-card-third;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 20px;
  width: 285px;
  height: 400px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms $timer-function;
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(1.1);
  }
  @media screen and (min-width: 480px) {
    width: 380px;
    height: 500px;
  }
  @media screen and (min-width: 768px) {
    width: 530px;
    height: 620px;
  }
  @media screen and (min-width: 1280px) {
    width: 575px;
    height: 685px;
  }
}
