.backdrop-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 184, 202, 0.3);
  opacity: 1;
  transition: opacity 250ms $timer-function;
  z-index: 801;
}
.backdrop-mobile.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal-mobile {
  position: absolute;
  width: 300px;
  height: 350px;
  top: 50%;
  left: 50%;
  z-index: 802;
  box-shadow: 0px 4px 4px rgba(212, 20, 67, 0.47);

  background-color: #ffffff;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  @media screen and (min-width: 480px) {
    width: 400px;
    height: 350px;
  }
  @media screen and (min-width: 768px) {
    width: 400px;
    height: 380px;
  }
  @media screen and (min-width: 1280px) {
    width: 450px;
    height: 380px;
  }
  &__close-box {
    position: relative;
  }
  &__close-item {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    border: none;
    background-color: transparent;
  }
  &__close-icon {
    width: 15px;
    height: 15px;
    cursor: pointer;

    fill: $modal-close;
    transition: 250ms $timer-function;
    @media screen and (min-width: 480px) {
      width: 20px;
      height: 20px;
    }
    @media screen and (min-width: 768px) {
      width: 25px;
      height: 25px;
    }
    @media screen and (min-width: 1280px) {
      width: 30px;
      height: 30px;
    }
  }

  &__close-icon:hover {
    fill: $modal-close-hover;
    transform: rotate(90deg);
  }
  &__close-item:focus .modal-mobile__close-icon {
    fill: $modal-close-hover;
    transform: rotate(90deg);
  }
}
.buy-products {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title_modal-mobile {
  display: flex;
  justify-content: center;
  font-family: Titan One;
  color: $title-color-second;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.12;
  padding-top: 15px;
  @media screen and (min-width: 768px) {
    font-size: 30px;
    padding-top: 20px;
  }
}
.modal-ice-cream-mob {
  display: flex;
  align-items: center;
  margin-top: 15px;
  &__form {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  &__label {
    font-family: Titan One;
    font-size: 18px;
    margin-bottom: 8px;
    color: $title-color-first;
  }
  &__title {
    border: none;
    border-radius: 2px;
    background-color: $products-card-first;
    height: 32px;
    width: 180px;
    padding-left: 5px;
    color: $title-color-second;
    box-shadow: $shadow-modal;
  }
}
.modal-ice-coffee-mob {
  display: flex;
  align-items: center;
  margin-top: 15px;
  &__form {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }
  &__label {
    font-family: Titan One;
    font-size: 18px;
    margin-bottom: 8px;
    color: $products-card-second;
  }
  &__title {
    border: none;
    border-radius: 2px;
    background-color: $products-card-second;
    height: 32px;
    width: 180px;
    padding-left: 5px;
    color: $title-color-second;
    box-shadow: $shadow-modal;
  }
}
.modal-milkshakes-mob {
  display: flex;
  align-items: center;
  margin-top: 15px;
  &__form {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  &__label {
    font-family: Titan One;
    font-size: 18px;
    color: $products-card-third;
    margin-bottom: 8px;
  }
  &__title {
    border: none;
    border-radius: 2px;
    background-color: $products-card-third;
    height: 32px;
    width: 180px;
    padding-left: 5px;
    color: $title-color-second;
    box-shadow: $shadow-modal;
  }
}
.button_send_mobile {
  border: none;
  background-color: $title-color-second;
  color: $primary-text-color;
  font-family: Titan One;
  font-size: 15px;
  border-radius: 4px;
  padding: 10px 25px;
  margin-top: 18px;
  box-shadow: $shadow-modal;
}
