#toTop {
    position:fixed;
    border-radius: 50%;
    bottom: 15px; 
    right: 15px;
    cursor: pointer;
    display: none;
    @media screen and (min-width: 480px) {
        bottom: 20px; 
        right: 20px;
    }
    @media screen and (min-width: 1280px) {
        bottom: 30px; 
        right: 30px;
    }
}
.to-top{
    width: 30px;
    height: 30px;
    fill: #fea5bb;
    @media screen and (min-width: 480px) {
        width: 40px;
        height: 40px;
    }
    @media screen and (min-width: 1280px) {
        width: 60px;
        height: 60px;
    }
}