.menu-toggle {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  margin-left: 61px;
  @media screen and (min-width: $tablet) {
    top: 52px;
    margin: 0px;
    z-index: 2;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.menu-container .menu-toggle {
  display: block;
  position: absolute;
  height: 14px;
  width: 14px;
  top: 23px;
  right: 28px;
  color: #fff;
}
.menu-container {
  &__close-icon {
    width: 15px;
    height: 15px;
    cursor: pointer;

    fill: $modal-close;
    transition: 250ms $timer-function;
    @media screen and (min-width: 480px) {
      width: 20px;
      height: 20px;
    }
    @media screen and (min-width: 768px) {
      width: 25px;
      height: 25px;
    }
  }

  &__close-icon:hover {
    fill: $modal-close-hover;
    transform: rotate(90deg);
  }
  &__close-item:focus .modal-header__close-icon {
    fill: $modal-close-hover;
    transform: rotate(90deg);
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $menu-color;
  z-index: 100;
  transform: translatey(-110%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // overflow-y: scroll;
  @media screen and (min-width: $tablet) {
    max-width: 254px;
    position: absolute;
    right: 0px;
    left: auto;
  }
  .nav-section {
    &__btn-modal {
      position: absolute;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 162px;
      padding-top: 11px;
      padding-bottom: 11px;
      border: none;
      border-radius: 22px;
      cursor: pointer;

      font-weight: 700;
      font-size: 16px;
      line-height: 1.31;

      color: #d41443;
      background-color: #ffffff;
      transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
      @media screen and (min-width: 768px) {
        width: 174px;
      }
    }
    &__btn-modal:hover,
    &__btn-modal:focus {
      background-color: #ecebeb;
    }

    &__btn-modal:hover .nav-section__icon,
    &__btn-modal:focus .nav-section__icon {
      transform: rotate(180deg);
    }
    &__icon {
      margin-left: 14px;
      width: 10px;
      height: 10px;
      fill: #d41443;
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.menu-container.is-open {
  transform: translatey(0);
}

.arrow {
  z-index: 2000;
  fill: yellowgreen;
}

//мобильное меню=================

.mobile-menu {
  margin-top: 123px;
  @media screen and(min-width: $tablet) {
    width: 254px;
  }
}

.mobile-nav {
  padding-left: 21px;
  &__item {
    border-top: 1px solid #e18298;
    padding: 13px 0px;
  }
  &__link {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3;
    color: #fff;
    font-style: normal;

    transition: color 250ms $timer-function;
  }
  &__link:hover,
  &__link:focus {
    color: #d41443;
  }
}
